.saver_mode {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  align-content: center;
}

.saver_mode._true {
  animation: colorchange_s2m 4000ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.saver_mode._false {
  background-color: #2952c6;
}

@keyframes colorchange_s2m {
  0% {
    background: #f7c044;
  }
  70% {
    background: #f7c044;
  }
  80% {
    background: #2952c6;
  }
  100% {
    background: #2952c6;
  }
}

.symbol {
  width: 300px;
}
